/* Menu styles  */

.menu {
  width: 240px;
  height: 100vh;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  float: left;
}
.appName {
  margin: 0;
  height: 80px;
}
.appName p {
  margin: 0;
}
.menu button {
  background-color: transparent;
  text-align: left;
  width: 70%;
  padding: 1rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height, or 112% */

  /* Gray 1 */

  color: #333333;
  float: right;
}

.menu div:hover {
  background-color: #f1f5f8;
}
.menu svg {
  padding-right: 5px;
  font-size: 20px;
}
.selected {
  background-color: #f1f5f8;
  border-left: 3px solid #4149b9;
}

.sideBar {
  display: inline;
}
/* topNav styles  */
.topNav {
  background-color: white;
  height: 80px;
  width: 100%;
}
.topNav > div {
  display: flex;
  float: right;
  padding-right: 4rem;
}
.topNav div {
  margin: 0.5rem;
}
.userInfo > p {
  margin: 0;
}
.btnLogOut {
  background-color: #4149b9;
  width: 91px;
  height: 42px;
  color: white;
  box-shadow: 0px 4px 8px rgba(65, 73, 185, 0.14);
  border-radius: 10px;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
}
.userImg {
  border-radius: 10px;
  display: inline;

  background-color: black;
  width: 47px;
  height: 47px;
}
.role {
  font-size: 14px;
}

/* Main Dashboard styles  */

.main {
  display: inline-block;
  height: 100vh;
  width: calc(100% - 240px);
  padding: 2rem;
  padding-right: 4rem;
  background-color: #f1f5f8;
}
.addCompany {
  position: relative;
  margin-top: 2rem;
  padding: 1rem;
  width: 519px;
  height: 94px;
  background: white;
  border-radius: 10px;
  display: flex;
  box-shadow: 0px 4px 30px rgba(24, 28, 75, 0.09);
  border-radius: 10px;
}
.addCompany p {
  margin: 0.5rem;
}

.addCompany button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.5rem;
  width: 48px;
  height: 48px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  background: #4149b9;
  color: #f2f2f2;
  /* btn-sm shadow */
  font-size: 25px;
  box-shadow: 0px 4px 8px rgba(65, 73, 185, 0.14);
  border-radius: 8px;
}

.text {
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  letter-spacing: 0.001em;

  /* Gray 3 */

  color: #828282;
}
.header {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */

  letter-spacing: 0.001em;

  /* Gray 1 */

  color: #333333;
}

/* COMPANIES CSS */
.companies {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
}
.company {
  padding: 24px 32px;
  margin-right: 32px;
  margin-top: 32px;

  border-radius: 10px;
  width: 519px;
  height: 320px;
  background-color: white;
}
.company img {
  border-radius: 15px;
  width: 140px;
  height: 140px;
  display: inline-block;
}
.company .info {
  padding: 0 1rem;
  display: inline-block;
}
.company h1 {
  color: #333333;
  font-size: 18px;
  display: block;
  font-weight: 600;
  padding: 0;
}
.company p {
  font-size: 14px;
  font-weight: 400;
  display: block;
}

.buttons {
  margin: 24px 0 16px 0;
}
.editButton,
.deleteButton {
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 8px;
  color: #333333;
  background-color: transparent;
  width: 218px;
  height: 46px;
}
.editButton {
  margin-right: 19px;
}

.viewButton {
  width: 455px;
  height: 46px;
  margin-top: 16px;
  background: #4149b9;
  color: white;
  border-radius: 8px;
}

.active {
  color: green;
}
.notActive {
  color: red;
}

/* MODAL WINDOW */

.topButtons {
  margin-top: 32px;
  display: flex;
  justify-content: space-evenly;
}
.topButtons button {
  padding: 15px;
  color: #333333;
  font-weight: bold;
  background-color: transparent;
}

.topButtons button:hover {
  color: #ef6313;
  background-color: transparent;
  border-bottom: #ef6313 2px solid;
}

.addLogo {
  border: 1px dashed #bdbdbd;
  display: block;
  padding-top: 10px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 10px;
  width: 75px;
  height: 75px;
  font-size: 32px;
  font-weight: bold;
  color: #bdbdbd;
}

.addCompanyForm > div > input,
.addServicesForm > div > input {
  padding: 10px;
  width: 502px;
  height: 44px;
  font-size: 14px;
  color: #bdbdbd;
  /* Gray 4 */

  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 10px;
}
.addCompanyForm > div,
.addServicesForm > div {
  margin: 24px 0;
}
.addCompanyForm > div > p,
.addServicesForm > div > p {
  display: block;
  margin-bottom: 11px !important;
  padding: 0 !important;
}

.submitForm {
  font-weight: bold;
  width: 502px;
  height: 64px;
  background: #4149b9;
  border-radius: 10px;
  color: white;
  margin: 24px 0;
}

/* Availabity table CSS */
.table {
  width: 498px;
  height: auto;
  background: #fafafa;
  border-radius: 10px;
  padding: 24px;
  position: relative;
  margin-bottom: 11px;
}
.editAvailabityButton {
  background: transparent;
  font-weight: bold;
  color: #ef6313;
  position: absolute;
  top: 24px;
  right: 24px;
}
.weeklyTable {
  margin-top: 52px;
}

.day {
  position: relative;
}
.day h4 {
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}
.day .hour {
  position: absolute;
  display: inline;
  right: 0;
}

.durations,
.prices,
.capacities {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.manualInput {
  width: 265px !important;
  height: 44px !important;
}

.addButton {
  margin-left: 18px;
  display: inline;
  width: 219px;
  height: 44px;
  background: #ef6313;
  border-radius: 10px;
  color: white;
}

.addServiceButton {
  margin: 7px;
  font-weight: bold;
  background: transparent;
  color: #4149b9;
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.daySelector {
  display: flex;
  justify-content: space-between;
  position: relative;
  border-bottom: 1px solid #dee2e6;
  padding: 16px 0 16px 0;
}

.details {
}
.details > div {
  display: inline-block;
  margin: 0 16px;
}
.workingSwitch p,
.openHours p,
.closeHours p {
  font-size: 14px;
  margin: 0;
}

.saveButton {
  position: absolute;
  background-color: transparent;
  color: #4149b9;
  font-size: 24px;
  right: 32px;
  bottom: 40px;
}

input[type="file"] {
  display: none !important;
}
