.label {
  display: block;
  float: left;
  color: var(--gray-1);
  margin: 0.5rem;
  font-family: "Roboto", sans-serif;
}
.input {
  margin: auto;
  display: block;
  width: 100%;
  height: 44px;
  left: 871px;
  top: 343px;
  border: 2px solid #bdbdbd;
  padding: 1rem;
  font-family: "Rubik", sans-serif;
  color: var(--gray-4);
  box-sizing: border-box;
  border-radius: 10px;
}
input[type="checkbox"] {
  width: 16px;
  height: 16px;
  left: 871px;
  top: 669px;
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 5px;
  display: inline;
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 5px;
}

button {
  border: 0;
  font-family: "Rubik", sans-serif;
  color: var(--gray-4);
}
